
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
			    <label  class="control-label"><i class="fa fa-asterisk" style="color:red;"></i>产品名称</label>
			    <div class="control-input">
				    <input name='name' type='text' class='form-control webui-textbox' data-required="true"/>
			    </div>
		  	</div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
			    <label  class="control-label"><i class="fa fa-asterisk" style="color:red;"></i>规格</label>
			    <div class="control-input">
				    <input name='guige' type='text' class='form-control webui-textbox' data-required="true"/>
			    </div>
		  	</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
			    <label  class="control-label"><i class="fa fa-asterisk" style="color:red;"></i>单位</label>
			    <div class="control-input">
				    <input name='danwei' type='text' class='form-control webui-textbox' data-required="true"/>
			    </div>
		  	</div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
			    <label  class="control-label"><i class="fa fa-asterisk" style="color:red;"></i>销售底价</label>
			    <div class="control-input">
				    <input name='xiaoshouDijia' type='text' class='form-control webui-numberInput' data-precision="2" data-required="true"/>
			    </div>
		  	</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
			    <label  class="control-label"><i class="fa fa-asterisk" style="color:red;"></i>成本价</label>
			    <div class="control-input">
				    <input name='chengbenjia' type='text' class='form-control webui-numberInput' data-precision="2" data-required="true"/>
			    </div>
		  	</div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
			    <label  class="control-label">备注</label>
			    <div class="control-input">
				    <input name='beizhu' type='text' class='form-control webui-textbox'/>
			    </div>
		  	</div>
        </div>
    </div>