
    <div class="row">
        <div class="col-6">
            <div class="form-group">
			    <label  class="control-label"><span style="color: Red">*</span>产品名称</label>
			    <div class="control-input">
				    <input name='name' type='text' class='form-control webui-textbox' data-required="true"/>
			    </div>
		  	</div>
        </div>
        <div class="col-6">
            <div class="form-group">
			    <label  class="control-label"><span style="color: Red">*</span>型号</label>
			    <div class="control-input">
				    <input name='xinghao' type='text' class='form-control webui-textbox' data-required="true"/>
			    </div>
		  	</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
			    <label  class="control-label"><span style="color: Red">*</span>规格</label>
			    <div class="control-input">
				    <input name='guige' type='text' class='form-control webui-textbox' data-required="true"/>
			    </div>
		  	</div>
        </div>
        <div class="col-6">
            <div class="form-group">
			    <label  class="control-label"><span style="color: Red">*</span>单位</label>
			    <div class="control-input">
				    <input name='danwei' type='text' class='form-control webui-textbox' data-required="true"/>
			    </div>
		  	</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
			    <label  class="control-label"><span style="color: Red">*</span>销售底价</label>
			    <div class="control-input">
				    <input name='xiaoshouDijia' type='text' class='form-control webui-numberInput' data-precision="2" data-required="true"/>
			    </div>
		  	</div>
        </div>
        <div class="col-6">
            <div class="form-group">
			    <label  class="control-label"><span style="color: Red">*</span>成本价</label>
			    <div class="control-input">
				    <input name='chengbenjia' type='text' class='form-control webui-numberInput' data-precision="2" data-required="true"/>
			    </div>
		  	</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
			    <label  class="control-label">备注</label>
			    <div class="control-input">
				    <input name='beizhu' type='text' class='form-control webui-textbox'/>
			    </div>
		  	</div>
        </div>
    </div>