<fieldset><legend>基本信息</legend></fieldset>
<div class="row">
    <div class="col-6">
        <div class="form-group">
			<label  class="control-label"><span style="color: Red">*</span>订单号</label>
			<div class="control-input">
				<input name='danhao' type='text' class='form-control webui-textbox' data-required="true"/>
			</div>
		</div>
    </div>
    <div class="col-6">
        <div class="form-group">
			<label  class="control-label"><span style="color: Red">*</span>下单日期</label>
			<div class="control-input">
                <input name='xiadanRiqi' type='text' class='form-control webui-dateInput' data-default-value="@DateTime.Today.ToString("yyyy-MM-dd")" data-required="true"/>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
			<label  class="control-label"><span style="color: Red">*</span>业务员</label>
			<div class="control-input">
                <div name="yewuyuan" class="form-control webui-complexSelect"  data-required="true" data-single="true" data-text-field="name" data-source="/User/ComplexSelectSource">
							
				</div>
			</div>
		</div>
    </div>
    <div class="col-6">
        <div class="form-group">
			<label  class="control-label"><span style="color: Red">*</span>客户</label>
			<div class="control-input">
                <div name="kehu" class="form-control webui-complexSelect"  data-required="true" data-single="true" data-text-field="name" data-source="/Kehu/ComplexSelectSource">
							
				</div>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
			<label  class="control-label"><span style="color: Red">*</span>结款方式</label>
			<div class="control-input">
                <select name='jiekuanFangshi' class='form-control webui-simpleSelect'>
		    		<option>1个月月结</option>
                    <option>2个月月结</option>
                    <option>3个月月结</option>
	    		</select>
			</div>
		</div>
    </div>
    <div class="col-6">
        <div class="form-group">
			<label  class="control-label">收货人</label>
			<div class="control-input">
				<input name='shouhuoren' type='text' class='form-control webui-textbox'/>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
			<label  class="control-label">收货人电话</label>
			<div class="control-input">
				<input name='shouhuorenDianhua' type='text' class='form-control webui-textbox'/>
			</div>
		</div>
    </div>
    <div class="col-6">
        <div class="form-group">
			<label  class="control-label">收货地址</label>
			<div class="control-input">
				<input name='shouhuoDizhi' type='text' class='form-control webui-textbox' />
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
			<label  class="control-label">发货单号</label>
			<div class="control-input">
                <input name='fahuoDanhao' type='text' class='form-control webui-textbox' />
			</div>
		</div>
    </div>
    <div class="col-6">
        <div class="form-group">
			<label  class="control-label">发货日期</label>
			<div class="control-input">
                <input name='fahuoRiqi' type='text' class='form-control webui-dateInput' />
			</div>
		</div>
    </div>
</div>
<fieldset><legend>产品信息</legend></fieldset>
<div class="row">
    <div class="col-12">
        <div class="form-group">
			<div class="control-input">
                <div class="btn-toolbar" >
                    <div class="btn-group">
                        <button id="btnAddChanpin" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>添加</button>
                        <button id="btnEditChanpin" disabled="disabled" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>编辑</button>
                        <button id="btnDeleteChanpin" disabled="disabled" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i>删除</button> 
                    </div>
                </div>
				<div id="chanpinGrid"></div>
			</div>
		</div>
    </div>
</div>
<fieldset><legend>收款信息</legend></fieldset>
<div class="row">
    <div class="col-12">
        <div class="form-group">
			<div class="control-input">
                <div class="btn-toolbar" >
                    <div class="btn-group">
                        <button id="btnAddShoukuan" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>添加</button>
                        <button id="btnEditShoukuan"  disabled="disabled" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>编辑</button>
                        <button id="btnDeleteShoukuan"  disabled="disabled" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i>删除</button> 
                    </div>
                </div>
				<div id="shoukuanGrid"></div>
			</div>
		</div>
    </div>
</div>