@{
    ViewBag.Title = "编辑订单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src='@this.Url.Content("~/js/dingdanDetailsForm.js")'></script>
<h2 style="text-align:center">编辑订单</h2>
<form id="detailsform" class="form-horizontal" role="form">
    @{this.Html.RenderPartial("Details");}
    <div class="form-group">
		<div style="text-align: center">
		  	<button id="btnSave" type="submit" class="btn btn-default">保存</button>
		  	<button id="btnCancel" type="button" class="btn btn-default">取消</button>
		</div>
	</div>
</form>
@{this.Html.RenderPartial("ChanpinDetailsModal");}
@{this.Html.RenderPartial("ShoukuanDetailsModal");}
<script type="text/javascript">
    var dingdanId = '@Request["Id"]';
    var dingdanModel = @this.Html.Raw(this.ViewBag.dingdanModelJson);
    var form = $("#detailsform").dingdanDetailsForm().data("dingdanDetailsForm");
    form.setValue(dingdanModel);
    $("#btnSave").click(function(){
        if(form.validate()){
            var value = form.getValue();
            value.id = dingdanId;
            $.post("/Dingdan/EditPost", {argsJson: $.toJSON(value)}, function(model){
                if(model.result){
                    location = "/Dingdan";
                }
                else{
                    $.messageBox.info(model.message);
                }
            });
        }
        return false;
    });
    $("#btnCancel").click(function(){
        location = "/Dingdan";
        return false;
    });
</script>