<objects xmlns="http://www.springframework.net">
    
    <object id="yizhouManager" type="Yizhou.Core.YizhouCoreManager, Yizhou.Core">
    </object>
    <object id="dataManager" type="Yizhou.Data.YizhouDataManager, Yizhou.Data">
        <constructor-arg ref="yizhouManager" />
    </object>
    
    <object id="throwingLogger"
            type="Yizhou.Core.ThrowingLogger, Yizhou.Core">
        <constructor-arg ref="yizhouManager" />
    </object>

    <!--UserService-->
    <object id="UserService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Yizhou.Core.Organization.UserService, Yizhou.Core" >
                <constructor-arg ref="yizhouManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="UserService">
        </property>
        <property name="ServiceName" value="UserService" />
    </object>
    <!--end-->

    <!--PositionService-->
    <object id="PositionService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Yizhou.Core.Organization.PositionService, Yizhou.Core" >
                <constructor-arg ref="yizhouManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="PositionService">
        </property>
        <property name="ServiceName" value="PositionService" />
    </object>
    <!--end-->

    <!--AuthenticationService-->
    <object id="AuthenticationService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Yizhou.Core.Organization.AuthenticationService, Yizhou.Core" >
                <constructor-arg ref="yizhouManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="AuthenticationService">
        </property>
        <property name="ServiceName" value="AuthenticationService" />
    </object>
    <!--end-->

    <!--KehuService-->
    <object id="KehuService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Yizhou.Website.Api.KehuService, Yizhou.Website.Api" >
                <constructor-arg ref="yizhouManager" />
                <constructor-arg ref="dataManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="KehuService">
        </property>
        <property name="ServiceName" value="KehuService" />
    </object>
    <!--end-->

    <!--ChanpinService-->
    <object id="ChanpinService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Yizhou.Website.Api.ChanpinService, Yizhou.Website.Api" >
                <constructor-arg ref="yizhouManager" />
                <constructor-arg ref="dataManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="ChanpinService">
        </property>
        <property name="ServiceName" value="ChanpinService" />
    </object>
    <!--end-->
    
    <!--DingdanService-->
    <object id="DingdanService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Yizhou.Website.Api.DingdanService, Yizhou.Website.Api" >
                <constructor-arg ref="yizhouManager" />
                <constructor-arg ref="dataManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="DingdanService">
        </property>
        <property name="ServiceName" value="DingdanService" />
    </object>
    <!--end-->
    
    <object id="dataInitializer" type="Yizhou.Data.DataInitializer, Yizhou.Data">
        <constructor-arg ref="yizhouManager" />
        <constructor-arg ref="dataManager" />
    </object>
</objects>