@{
    ViewBag.Title = "订单明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.ViewBag.topMenu = "DingdanMingxi";
}
@using Yizhou.Website;
<script type="text/javascript" src='@this.Url.Content("~/js/dingdanMingxiGuanliPage.js?" + WebHelper.Version)'></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row btn-toolbar" >
                <div class="col-4">
                    <form class="input-group">
                        <input id="txtKeyword" type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="submit" id="btnSearch" class="btn btn-default">查询</button>
                            <button id="btnPopoverSearch" class="btn btn-default" >
                                <span class="caret"></span>
                            </button>
                        </div><!-- /btn-group -->
                    </form>
                </div>
                <div class="col-8">
                    <div class="btn-group">
                        <button id="btnExport" class="btn btn-default">导出Excel</button> 
                    </div>
                </div>
            </div>

            <div id="dingdanMingxiGrid">
                
            </div>
        
            <div id="dingdanMingxiGridPager" class="pull-right" style="height: 30px">
            
            </div>
        </div>
    </div>
</div>
@{this.Html.RenderPartial("SearchPopover");}

<script type="text/javascript">
    $(function(){
        $("body").dingdanMingxiGuanliPage();
    })
</script>